$color: #0d1117;
body {
    background: #E5E5E5;
}
.header {
    position: fixed;
    color: #c9d1d9;
    top: 0;
    width: 100%;
    background: #161b22;
    z-index: 2;
}

.header__wrapper {
    max-width: 1440px;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 19px;
    font-weight: 600;
}

.settings {
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    &.settings-open {
        .settings-icon {
            transform: rotate(90deg);
            transition: 0.5s;
        }

        .settings__content {
            display: flex;
        }
    }
}

.settings-icon {
    width: 20px;
    transition: 0.5s;
}

.settings__content {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: -6px;
    padding: 20px;
    background: #161b22;
    border-radius: 10px;
    border: 1px solid #30363d;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    & svg {
        width: 20px;
        fill: #c9d1d9;
    }
}

.leaderboard { 
    padding: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    & svg {
        width: 20px;
        fill: #c9d1d9;
        transition: 0.5s;   
    }
    &:hover {
        transition: 0.5s;
        color: #ffd4b0;
        & svg {
            fill: #ffd4b0;
            transition: 0.5s;
        }
        .leaderboard__content {
            display: flex;
        }
    }
}

.leaderboard__content {
    font-weight: 400;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    background: #161b22;
    border-radius: 10px;
    border: 1px solid #30363d;
}